@import "./normalize";

@import "./fonts/gilroy";
@import "./fonts/ibm-plex/ibm-plex";

$body_width: 1300px;
$body_padding: 20px 0;

$body_font_size: 20px;

$hero_font_size: 90px;

$heading_color: #111;
$content_color: #444;
$highlight_color: #ff8a65;

$font_display: "Gilroy", "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
$font_text: "IBM Plex Sans", "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
$font_mono: "IBM Plex Mono", "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;

%container {
  position: relative;
  width: $body_width;
  padding: $body_padding;
  margin: 0px auto;
}

%no-link-border {
  a {
    border-bottom: none;
  }
}

%list-item {
  margin: 10px 30px 10px 0;

  font-family: $font_display;
  font-size: 1.2em;
}

@mixin bottom-stripes($height, $left, $bottom) {
    &:after {
      position: absolute;
      display: block;
      width: 110%;
      height: $height;
      left: $left;
      bottom: $bottom;
      z-index: -1;

      background-color: $highlight_color;
      content: "\00a0";
    }
}

* { box-sizing: border-box; }

body {
  width: 100%;
  font-family: $font_text;
  font-weight: 400;
  font-size: $body_font_size;
  line-height: 1.5em;
  color: $content_color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font_display;
  font-feature-settings: "liga" 1;

  letter-spacing: 0em;
}

h2 {
  color: $heading_color;
}

p {
  margin-bottom: 1.5em;
}

pre {
  font-family: $font_mono;
}

a {
  color: $highlight_color;
  text-decoration: none;
  border-bottom: 1px solid $highlight_color;

  &:hover {
    color: darken($highlight_color, 20%);
  }
}

header {
  @extend %container;

  display: flex;
  justify-content: space-between;

  h1, p {
    margin: 0;

    font-size: $body_font_size;
    font-family: $font_display;
    font-weight: 600;
    text-transform: lowercase;
  }
}

section {
  margin-bottom: 80px;
}

.container  { @extend %container; }

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

#hero {
  @extend %container;
  padding: 100px 0;

  h2 {
    font-size: $hero_font_size;
    line-height: 1.8em;
    margin: 0;
  }

  span {
    position: relative;
    display: inline-block;

    @include bottom-stripes(20%, 20px, 25px);
  }
}

.content-wrap {
  @extend %container;
  display: flex;

  h2, p { margin-top: 20px; }

  & > div {
    padding: 0px;
  }

  .title {
    flex: 3;

    img {
      width: 100%;
      margin-top: 20px;
    }

    h2 {
      font-size: $body_font_size * 4;
      line-height: 1em;
    }
  }

  .content {
    flex: 8;
    padding-left: 40px;
    font-size: $body_font_size * 1.5;
    line-height: 1.5em;
  }
}

#connect {
  @extend %no-link-border;
  font-family: $font_display;

  ul {
    display: flex;
    list-style: none;
    padding: 0;

    justify-content: space-between;
  }

  li {
    @extend %list-item;
  }

  span {
    display: inline-block;
  }
}

#contact {
  @extend %no-link-border;

  span {
    @extend %list-item;
  }
}

.collection {
  position: relative;

  h2 {
    position: relative;
    display: inline-block;
    margin: 0;

    @include bottom-stripes(40%, 6px, 0px);
  }

  .collection-scroller {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 10px 0;
    width: $body_width * 1.1;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;

    .collection-items {
      white-space: nowrap;
    }

    .collection-item {
      @extend %no-link-border;

      position: relative;
      display: inline-block;
      margin-right: 20px;

      h3, p {
        font-weight: 400;
        margin: 0;
      }

      img {
        height: 250px;
      }
    }
  }
}

