@import "./normalize";

@import "./fonts/gilroy";
@import "./fonts/ibm-plex/ibm-plex";

$body-width: 1300px;
$body-padding: 40px;
$body-padding-mobile: 20px;

$body-font-size: 20px;
$feature-font-size: 30px;
$hero-font-size: 90px;

$heading-color: #111;
$content-color: #444;
$highlight-color: #ff8a65;

$font-display: "Gilroy", "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
$font-text: "IBM Plex Sans", "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
$font-mono: "IBM Plex Mono", "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;

$mq-default: "(min-width: 1101px)";
$mq-1100: "(min-width: 751px) and (max-width: 1100px)";
$mq-750: "(max-width: 750px)";
$mq-supersmall: "(max-width: 500px)";

%container {
  position: relative;
  width: 100%;
  max-width: $body-width;

  padding: $body-padding;
  @media #{$mq-750} { padding: $body-padding-mobile; }

  margin: 0px auto;
}

%no-link-border {
  a {
    border-bottom: none;
  }
}

%list-item {
  margin: 10px 30px 10px 0;

  font-family: $font-display;
  font-size: 1.2em;
}

%hero-font-size {
  font-size: $hero-font-size;
  @media #{$mq-1100} { font-size: $hero-font-size * 0.8; }
  @media #{$mq-750} { font-size: $hero-font-size * 0.8; }
  @media #{$mq-supersmall} { font-size: $hero-font-size * 0.5; }
}

%body-font-size {
  font-size: $body-font-size;
  @media #{$mq-1100} { font-size: $body-font-size * 1; }
  @media #{$mq-750} { font-size: $body-font-size * 0.9; }
  @media #{$mq-supersmall} { font-size: $body-font-size * 0.8; }
}

%feature-font-size {
  font-size: $feature-font-size;
  @media #{$mq-1100} { font-size: $feature-font-size * 0.8; }
  @media #{$mq-750} { font-size: $feature-font-size * 0.7; }
  @media #{$mq-supersmall} { font-size: $feature-font-size * 0.6; }
}

@mixin bottom-stripes($height, $left, $bottom) {
    &:after {
      position: absolute;
      display: block;

      width: calc(100% + #{$left});
      height: $height;
      left: $left;
      bottom: $bottom;
      z-index: -1;

      background-color: $highlight-color;
      content: "\00a0";
    }
}

* { box-sizing: border-box; }

body {
  width: 100%;

  @extend %body-font-size;
  font-family: $font-text;
  font-weight: 400;
  line-height: 1.5em;
  color: $content-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-display;
  font-feature-settings: "liga" 1;

  letter-spacing: 0em;
}

h2 {
  color: $heading-color;
  margin: 0;
}

p {
  margin-bottom: 1.5em;
}

pre {
  width: 100%;
  font-family: $font-mono;

  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

a {
  color: $highlight-color;
  text-decoration: none;
  border-bottom: 1px solid $highlight-color;

  &:hover {
    color: darken($highlight-color, 20%);
  }
}

header {
  @extend %container;

  display: flex;
  justify-content: space-between;

  h1, p {
    margin: 0;

    @extend %body-font-size;
    font-family: $font-display;
    font-weight: 600;
    text-transform: lowercase;
  }
}

footer {
  @extend %container;
  @extend %no-link-border;

  margin-top: 100px;

  display: flex;
  justify-content: center;

  p {
    margin: 10px;

    @extend %body-font-size;
    font-family: $font-display;
    font-weight: 600;
  }
}

section {
  margin-bottom: 80px;
}

.container { @extend %container; }

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

#hero {
  @extend %container;
  padding-top: 100px;
  padding-bottom: 100px;

  @media #{$mq-1100} {
    padding-top: 70px;
    padding-bottom: 70px;
    br.mobilebreak { display: none; }
  }
  @media #{$mq-750} {
    padding-top: 50px;
    padding-bottom: 50px;
    br.mobilebreak { display: none; }
  }

  h2 {
    margin: 0;

    @extend %hero-font-size;
    line-height: 1.8em;
  }

  span {
    position: relative;
    display: inline-block;

    @media #{$mq-default} {
      &.r3 {
        display: table;
        @include bottom-stripes(20%, 20px, 25px);
      }
      &.r4 { margin-right: 0.25em; }
      &.r4:last-child, &.r3.r4 { margin-right: 0; }
    }
    @media #{$mq-1100} {
      &.r3 {
        display: table;
        @include bottom-stripes(20%, 16px, 25px);
      }
      &.r4 { margin-right: 0.25em; }
      &.r4:last-child, &.r3.r4 { margin-right: 0; }
    }
    @media #{$mq-750} {
      &.r4 {
        display: table;
        @include bottom-stripes(20%, 8px, 15px);
      }
    }
  }
}

.content-wrap {
  @extend %container;
  display: flex;

  @media #{$mq-750} { display: block; }

  h2, p { margin-top: 20px; }

  & > div {
    padding: 0px;
  }

  .title {
    flex: 3;

    img {
      width: 100%;
      margin-top: 20px;
    }

    h2 {
      @extend %hero-font-size;
      line-height: 1em;
    }
  }

  .content {
    flex: 8;
    padding-left: 40px;

    @media #{$mq-750} {
      padding-left: 0;
      br { display: none; } // disable arbitary line breaks
    }

    @extend %feature-font-size;
    line-height: 1.5em;
  }
}

#connect {
  @extend %no-link-border;
  font-family: $font-display;

  ul {
    display: flex;

    @media #{$mq-750} {
      display: block;
      overflow: hidden;
    }

    list-style: none;

    padding-top: 0;
    padding-bottom: 0;

    justify-content: space-between;
  }

  li {
    @extend %list-item;

    @media #{$mq-750} {
      width: 50%;
      margin: 0 0 10px;
      float: left;
    }
  }

  span {
    display: inline-block;
  }
}

#contact {
  @extend %no-link-border;

  span {
    @extend %list-item;
  }
}

.collection {
  position: relative;

  h2 {
    position: relative;
    display: inline-block;
    margin: 0;

    @include bottom-stripes(40%, 6px, 0px);
  }

  .collection-scroller {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 10px 0;

    max-width: $body-width * 1.1;
    width: 100%;

    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;

    .collection-items {
      white-space: nowrap;
      padding: 0 20px;
    }

    .collection-item {
      @extend %no-link-border;

      position: relative;
      display: inline-block;
      margin-right: 20px;

      h3, p {
        font-weight: 400;
        margin: 0;
      }

      img {
        height: 250px;
        @media #{$mq-750} { height: 175px; }
      }
    }
  }
}
