{{ partial "begin.html" . }}

<header>
  <h1>{{ .Site.Title }}</h1>
  <p>{{ .Site.Params.author }}</p>
</header>

<section id="hero">
<h2>
  <span>{{ .Site.Params.hero1 }}</span><br>
  <span>{{ .Site.Params.hero2 }}</span><br>
  <span>{{ .Site.Params.hero3 }}</span>
</h2>
</section>

<section id="content-wrap">
  <div class="hello"><h2>hello.</h2></div>
  <div class="content">{{ .Content }}</div>
</section>

<section id="explore" class="collection">
  <h2>explore</h2>
  {{ $projects := where .Site.RegularPages "Section" "project" }}
  <div class="projects collection-scroller">
    <div class="collection-items">
      {{ range $projects }}
      <div class="project collection-item">
        {{ $img := (.Resources.ByType "image").GetMatch "*thumb*" }}
        <img src="{{ $img.RelPermalink }}">
        <h3>{{ .Title }} →</h3>
        <p>{{ .Params.tagline }}</p>
      </div>
      {{ end }}
    </div>
  </div>
</section>

<section id="talks" class="collection">
  <h2>talks</h2>
  {{ $talks := where .Site.RegularPages "Section" "talk" }}
  <div class="talks collection-scroller">
    <div class="collection-items">
      {{ range sort $talks ".Date" "desc" }}
      <div class="talk collection-item">
        {{ $img := (.Resources.ByType "image").GetMatch "*thumb*" }}
        <img src="{{ $img.RelPermalink }}">
        <h3>{{ .Title }}</h3>
        <p>{{ .Params.tagline }}</p>
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ partial "end.html" . }}
